.jumbotron {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 100vh;
    background-image: url(images/jumbotron_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

#name {
    color: #D67860;
}
.container {
    width: 600px;
    height: 500px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.display-4 {
    font-size: 50px;
    text-align: center;
    font-style: bold;
    display: inline-block; 
    margin-top: 50%;
    margin-bottom: -10px;  
    text-transform: uppercase;  
    font-weight: 700;
}

.lead {
    font-size: 45px;
    text-align: center;
    justify-content: center;
}

.button {
    color:  #2e2e2e;
    background-color: white;
    border: 2px solid #D67860;
    box-sizing: inherit;
    cursor: pointer;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 5px 10px 5px 10px;
    border-radius: 5px 5px 5px 5px;
}

.button:hover {
    color: #2e2e2e;
    text-decoration: none;
    background-image: none;
    background-color: rgb(214, 120, 96, 0.4);
    border: 2px solid rgb(214, 120, 96, 0.1);
}

body {
    background: white; 
}

ul {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 20px;

}

.nav-link:hover {
    color: #D67860; 
    font-weight: 600;
}

#navBackground {
    background-color: #bcbcbc;
    margin-top: 0;
}

.col {
    max-width: 100%;
}

#passion {
    color: #D67860;
}

#headshot {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px;
    margin-top: 10%;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    margin-top: 25%;
}

.aboutBorder {
    max-width: 100px;
    border: 1px solid #2e2e2e;
    margin: auto;
    width: 50%;
}
.aboutSect {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    font-weight: 300;
}

.projects {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-top: 10%;
    padding: 20px;
}

.projectBorder {
    max-width: 100px;
    border: 1px solid white;
    margin: auto;
    margin-top: -20px;
    width: 50%;   
    background-color: #898989;
    border-radius: 5px 0 0;
}

#projectContainer {
    background-color: #2e2e2e;
    width: 2000px;  
    border-radius: 10px 10px 10px 10px;  
}

#gallery {
    width: 2000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -18.5%;
    background-color: #2e2e2e;
    padding: 0px 100px 0px 100px;
    border-radius: 10px 10px 10px 10px;
}


.mainbox {
    position: relative;
    width: 280px;
    height: 400px;
    border-radius: 10px;
    background: #282828;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    overflow: hidden;
    margin-bottom: 40px;
}

.mainbox .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mainbox .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.mainbox:hover .imgbox img{
    opacity: 0;
}

.mainbox .details {
    position: absolute;
    left: 33%;
    width: 100px;
    height: 100px;
    bottom: 30px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    color: #2e2e2e;
    transition: all .5s ease;
    box-shadow: 5px 5px 10px;
}

.mainbox .details h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    color: #D67860;
    font-size: 14pt;
    font-style: bold;
    text-transform: uppercase;
}

.mainbox .details .info {
    display: none;
    margin: 25px;
    text-align: center;
    padding: 15px;
    color: #898989;
    font-weight: 700;
    border-radius: 10px;
    height: 260px;
    border: 1px solid #2e2e2e;
    font-family: 'Montserrat', sans-serif;
}

.mainbox:hover .details{
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0px;
    border-radius: 0;
}

.mainbox .details:hover .info {
    display: block;
}

.learnMore {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #2e2e2e;
    border: 1px solid #D67860;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.learnMore:hover {
    color: #2e2e2e;
    text-decoration: none;
    background-image: none;
    background-color: rgb(214, 120, 96, 0.4);
    border: 2px solid rgb(214, 120, 96, 0.1);
}

.form {
    margin-top: 50px;
    margin-left: 35px;
    background-color: #bcbcbc;
    width: 500px;
    padding: 50px;
    border-radius: 10px 10px 10px 10px;
    color:#2e2e2e;
}

#form {
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;

}

.contactBorder {
    max-width: 100px;
    border: 1px solid #2e2e2e;
    margin: auto;
    width: 50%;
}

#contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    margin-top: 25%; 
    text-align: center;
}

.email {
    width: 300px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #2e2e2e;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message {
    width: 300px;
    border: 1px solid #2e2e2e;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}

.submit {
    border-radius: 5px 5px 5px 5px;
    color:  #2e2e2e;
    background-color: white;
    box-sizing: inherit;
    cursor: pointer;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 5px 10px 5px 10px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
}
.submit:hover {
    color: #2e2e2e;
    text-decoration: none;
    background-image: none;
    background-color: rgb(214, 120, 96);
    border: 2px solid rgb(214, 120, 96, 0.1);
}

#footer {
    background-image: #2e2e2e;    
    width: 100%;
    height: 100px;
    display: inline-block;
    position: relative;
    align-content: center;
    margin-top: 100px;
}

.footersocial {
    border: 1px solid black;
}

.fa {
    padding: 11px;
    margin: 10px;
    font-size: 30px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background: #D67860;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.fa:hover {
    opacity: 0.7;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

footer {
    display: inline-block;
    justify-content: center;
    margin-top: 150px;
    margin-left: -260px;
}